/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.6/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.6/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.6/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.6/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.6/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.6/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.6/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.6/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.6/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../src/sass/_base.sass */
body {
  font-family: Microsoft JhengHei, Arial, sans-serif;
}

/* line 13, ../../src/sass/_base.sass */
h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.75em;
  line-height: 1.14286em;
}
/* line 17, ../../src/sass/_base.sass */
h1:before {
  content: "-";
  background: #000;
  color: #000;
  display: inline-block;
  width: 28px;
  line-height: 28px;
  margin: 0px 10px;
  text-align: center;
  font-family: DFKai-sb, Time New Roman, serif;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 20, ../../src/sass/_base.sass */
h2 {
  font-size: 1.25em;
  line-height: 1.6em;
}
/* line 22, ../../src/sass/_base.sass */
h2:before {
  content: "-";
  background: #000;
  color: #000;
  display: inline-block;
  width: 20px;
  line-height: 20px;
  margin: 0px 10px;
  text-align: center;
  font-family: DFKai-sb, Time New Roman, serif;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 25, ../../src/sass/_base.sass */
h3, h4, h5, h6 {
  font-size: 1.125em;
  line-height: 1.77778em;
}
/* line 27, ../../src/sass/_base.sass */
h3:before, h4:before, h5:before, h6:before {
  content: "-";
  background: #000;
  color: #000;
  display: inline-block;
  width: 18px;
  line-height: 18px;
  margin: 0px 10px;
  text-align: center;
  font-family: DFKai-sb, Time New Roman, serif;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 30, ../../src/sass/_base.sass */
p {
  font-size: 1em;
  line-height: 2em;
}

/* line 33, ../../src/sass/_base.sass */
pre {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-family: monospace;
  -moz-box-shadow: 0px 0px 10px 0px #aaa;
  -webkit-box-shadow: 0px 0px 10px 0px #aaa;
  box-shadow: 0px 0px 10px 0px #aaa;
}

/* line 39, ../../src/sass/_base.sass */
code {
  display: inline-block;
  font-family: monospace;
  font-size: 1em;
  line-height: 2em;
  padding: 0px 0.5em;
}

/* line 46, ../../src/sass/_base.sass */
pre code {
  display: block;
}

/* line 49, ../../src/sass/_base.sass */
a {
  color: #555;
  padding: 0px 3px;
}

/* line 54, ../../src/sass/_base.sass */
.content li {
  font-size: 1em;
  line-height: 2em;
}
/* line 56, ../../src/sass/_base.sass */
.content li:before {
  content: "_";
  content: "-";
  background: #000;
  color: #000;
  display: inline-block;
  width: 14px;
  line-height: 14px;
  margin: 0px 10px;
  text-align: center;
  font-family: DFKai-sb, Time New Roman, serif;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 60, ../../src/sass/_base.sass */
strong {
  font-weight: bold;
}

/* line 63, ../../src/sass/_base.sass */
.meta-data {
  display: none;
}

/* line 66, ../../src/sass/_base.sass */
.text-red {
  color: #E3695C;
}

/* line 68, ../../src/sass/_base.sass */
.text-blue {
  color: #3B7F8C;
}

/* line 70, ../../src/sass/_base.sass */
.text-green {
  color: #46AC5C;
}

/* line 72, ../../src/sass/_base.sass */
.text-orange {
  color: #E39E5C;
}

/* line 74, ../../src/sass/_base.sass */
.text-grey {
  color: #999;
}

/* line 77, ../../src/sass/_base.sass */
.mk-red {
  border: 2px solid #E3695C;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 80, ../../src/sass/_base.sass */
.mk-blue {
  border: 2px solid #3B7F8C;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 83, ../../src/sass/_base.sass */
.mkb-red {
  border: 2px solid red;
  background: rgba(255, 0, 0, 0.1);
}

/* line 4, ../../src/sass/partials/_layout.sass */
.layout .menu {
  left: -216px;
}
/* line 6, ../../src/sass/partials/_layout.sass */
.layout .main-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 60px;
  overflow-x: hidden;
}
/* line 13, ../../src/sass/partials/_layout.sass */
.layout .main {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
/* line 20, ../../src/sass/partials/_layout.sass */
.layout.lo-menu-open .menu {
  left: 0px;
}
/* line 22, ../../src/sass/partials/_layout.sass */
.layout.lo-menu-open .main-container {
  left: 216px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 28, ../../src/sass/partials/_layout.sass */
  .layout.lo-menu-open .main {
    right: -216px;
  }
}
/* line 9, ../../src/sass/partials/_header.sass */
.header {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  -moz-box-shadow: 0px 0px 10px 0px #aaa;
  -webkit-box-shadow: 0px 0px 10px 0px #aaa;
  box-shadow: 0px 0px 10px 0px #aaa;
}
/* line 16, ../../src/sass/partials/_header.sass */
.header table {
  width: 100%;
  td-vertical-align: middle;
}
/* line 20, ../../src/sass/partials/_header.sass */
.header .hd-btn-td {
  width: 54px;
}
/* line 22, ../../src/sass/partials/_header.sass */
.header .hd-btn {
  float: left;
  display: block;
  padding-left: 6px;
}
/* line 26, ../../src/sass/partials/_header.sass */
.header .hd-trademark {
  float: right;
  display: block;
}
/* line 29, ../../src/sass/partials/_header.sass */
.header .hd-op-td {
  padding: 0px 8px;
}
/* line 31, ../../src/sass/partials/_header.sass */
.header .hd-input-search {
  padding: 6px 12px;
  height: 38px;
  width: 100%;
  border-width: 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #555;
  color: #aaa;
}
/* line 41, ../../src/sass/partials/_header.sass */
.header .hd-btn-menu {
  float: left;
  padding: 6px 0px 6px 6px;
}
/* line 44, ../../src/sass/partials/_header.sass */
.header .hd-btn-menu .hd-icon {
  height: 48px;
  width: 48px;
  background: url("/images/header/menu_48x.svg");
}
/* line 49, ../../src/sass/partials/_header.sass */
.header .hd-btn-menu:hover .hd-icon, .header .hd-btn-menu.active .hd-icon {
  background: url("/images/header/menu_d_48x.svg");
}
/* line 41, ../../src/sass/partials/_header.sass */
.header .hd-btn-search {
  float: left;
  padding: 6px 0px 6px 6px;
}
/* line 44, ../../src/sass/partials/_header.sass */
.header .hd-btn-search .hd-icon {
  height: 48px;
  width: 48px;
  background: url("/images/header/search_48x.svg");
}
/* line 49, ../../src/sass/partials/_header.sass */
.header .hd-btn-search:hover .hd-icon, .header .hd-btn-search.active .hd-icon {
  background: url("/images/header/search_d_48x.svg");
}

/* line 4, ../../src/sass/partials/_menu.sass */
.menu {
  position: fixed;
  top: 0px;
  bottom: 60px;
  width: 200px;
  border-left: 16px solid;
  -moz-box-shadow: inset -10px 0px 10px -5px #aaa;
  -webkit-box-shadow: inset -10px 0px 10px -5px #aaa;
  box-shadow: inset -10px 0px 10px -5px #aaa;
}
/* line 11, ../../src/sass/partials/_menu.sass */
.menu ul {
  position: absolute;
  bottom: 0px;
}
/* line 14, ../../src/sass/partials/_menu.sass */
.menu ul li {
  padding: 0px 14px 14px;
}
/* line 16, ../../src/sass/partials/_menu.sass */
.menu .mu-btn {
  vertical-align: middle;
  font-size: 1.4em;
  font-family: DFKai-sb, Time New Roman, serif;
  text-decoration: none;
  font-weight: bold;
}
/* line 22, ../../src/sass/partials/_menu.sass */
.menu .mu-btn img {
  vertical-align: middle;
  margin-right: 30px;
}
/* line 25, ../../src/sass/partials/_menu.sass */
.menu .mu-btn .mu-icon {
  height: 76px;
  width: 76px;
}
/* line 30, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-paper {
  font-size: 1.4em;
  font-family: DFKai-sb, Time New Roman, serif;
  text-decoration: none;
  font-weight: bold;
}
/* line 35, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-paper .mu-icon {
  display: inline-block;
  height: 76px;
  width: 76px;
  vertical-align: middle;
  background: url("/images/menu/paper_d_76x.svg");
  margin-right: 30px;
}
/* line 43, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-paper:hover .mu-icon, .menu .mu-btn-paper.active .mu-icon {
  background: url("/images/menu/paper_76x.svg");
}
/* line 30, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-category {
  font-size: 1.4em;
  font-family: DFKai-sb, Time New Roman, serif;
  text-decoration: none;
  font-weight: bold;
}
/* line 35, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-category .mu-icon {
  display: inline-block;
  height: 76px;
  width: 76px;
  vertical-align: middle;
  background: url("/images/menu/category_d_76x.svg");
  margin-right: 30px;
}
/* line 43, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-category:hover .mu-icon, .menu .mu-btn-category.active .mu-icon {
  background: url("/images/menu/category_76x.svg");
}
/* line 30, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-tag {
  font-size: 1.4em;
  font-family: DFKai-sb, Time New Roman, serif;
  text-decoration: none;
  font-weight: bold;
}
/* line 35, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-tag .mu-icon {
  display: inline-block;
  height: 76px;
  width: 76px;
  vertical-align: middle;
  background: url("/images/menu/tag_d_76x.svg");
  margin-right: 30px;
}
/* line 43, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-tag:hover .mu-icon, .menu .mu-btn-tag.active .mu-icon {
  background: url("/images/menu/tag_76x.svg");
}
/* line 30, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-work {
  font-size: 1.4em;
  font-family: DFKai-sb, Time New Roman, serif;
  text-decoration: none;
  font-weight: bold;
}
/* line 35, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-work .mu-icon {
  display: inline-block;
  height: 76px;
  width: 76px;
  vertical-align: middle;
  background: url("/images/menu/work_d_76x.svg");
  margin-right: 30px;
}
/* line 43, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-work:hover .mu-icon, .menu .mu-btn-work.active .mu-icon {
  background: url("/images/menu/work_76x.svg");
}
/* line 30, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-wizard {
  font-size: 1.4em;
  font-family: DFKai-sb, Time New Roman, serif;
  text-decoration: none;
  font-weight: bold;
}
/* line 35, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-wizard .mu-icon {
  display: inline-block;
  height: 76px;
  width: 76px;
  vertical-align: middle;
  background: url("/images/menu/wizard_d_76x.svg");
  margin-right: 30px;
}
/* line 43, ../../src/sass/partials/_menu.sass */
.menu .mu-btn-wizard:hover .mu-icon, .menu .mu-btn-wizard.active .mu-icon {
  background: url("/images/menu/wizard_76x.svg");
}

/* line 3, ../../src/sass/partials/_main.sass */
.main {
  padding-bottom: 60px;
}

/* line 3, ../../src/sass/partials/_search_result_panel.sass */
.search-result-panel {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 60px;
  background: url("/images/header/search_48x.svg") #f5f5f5;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: scroll;
}
/* line 14, ../../src/sass/partials/_search_result_panel.sass */
.search-result-panel .posts {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-height: 100%;
}
/* line 20, ../../src/sass/partials/_search_result_panel.sass */
.search-result-panel .posts .post-list {
  padding-top: 8px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 25, ../../src/sass/partials/_search_result_panel.sass */
  .search-result-panel .posts {
    max-height: 50%;
  }
}
/* line 4, ../../src/sass/partials/_tag.sass */
.tag {
  display: inline-block;
  margin: 3px;
  padding: 8px;
  color: #fff;
  background: #555;
  line-height: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 12, ../../src/sass/partials/_tag.sass */
.tag .tag-link {
  color: #fff;
  text-decoration: none;
}
/* line 15, ../../src/sass/partials/_tag.sass */
.tag .tag-link:hover {
  color: #ddd;
}

/* line 4, ../../src/sass/partials/_category.sass */
.category {
  display: inline-block;
  margin: 3px;
  padding: 8px;
  color: #fff;
  background: #999;
  line-height: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 12, ../../src/sass/partials/_category.sass */
.category .category-link {
  color: #fff;
  text-decoration: none;
}
/* line 15, ../../src/sass/partials/_category.sass */
.category .category-link:hover {
  color: #ddd;
}

/* line 7, ../../src/sass/partials/_title.sass */
.title {
  display: table;
  width: 100%;
  border-bottom: 0px #000 solid;
  padding: 8px;
}
/* line 12, ../../src/sass/partials/_title.sass */
.title .title-main {
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
}
/* line 16, ../../src/sass/partials/_title.sass */
.title .title-main .title-text {
  float: left;
  font-size: 2.5em;
  font-family: DFKai-sb, Time New Roman, serif;
  font-weight: bold;
}
/* line 21, ../../src/sass/partials/_title.sass */
.title .title-main .title-time {
  text-align: right;
  padding-bottom: 5px;
}
/* line 24, ../../src/sass/partials/_title.sass */
.title .title-main .title-tcs {
  text-align: right;
  padding-top: 5px;
}
/* line 27, ../../src/sass/partials/_title.sass */
.title .title-img {
  background: #555;
  padding: 12px 12px 12px 12px;
  display: table-cell;
  text-align: right;
  width: 76px;
  -moz-box-shadow: 0px 0px 10px 0px #aaa;
  -webkit-box-shadow: 0px 0px 10px 0px #aaa;
  box-shadow: 0px 0px 10px 0px #aaa;
}

/* line 1, ../../src/sass/partials/_time.sass */
.time {
  display: inline;
  font-family: monospace;
  font-size: 1.2em;
  padding: 3px;
}

/* line 3, ../../src/sass/partials/_draft.sass */
.draft {
  font-family: DFKai-sb, Time New Roman, serif;
  font-size: 20px;
  color: #aaa;
  background: #ddd;
  border: 1px #aaa dashed;
  text-align: center;
  padding: 8px;
  margin: 12px auto;
}

/* line 5, ../../src/sass/partials/_image.sass */
.image-center {
  text-align: center;
  padding: 32px 0px;
}
/* line 8, ../../src/sass/partials/_image.sass */
.image-center img {
  -moz-box-shadow: 0px 0px 10px 0px #aaa;
  -webkit-box-shadow: 0px 0px 10px 0px #aaa;
  box-shadow: 0px 0px 10px 0px #aaa;
  border: #fff 8px solid;
  margin-bottom: 8px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 14, ../../src/sass/partials/_image.sass */
  .image-center img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-width: 5px;
  }
}
/* line 5, ../../src/sass/partials/_demo.sass */
.demo {
  padding: 12px;
  -moz-box-shadow: 0px 0px 10px 0px #aaa;
  -webkit-box-shadow: 0px 0px 10px 0px #aaa;
  box-shadow: 0px 0px 10px 0px #aaa;
}
/* line 8, ../../src/sass/partials/_demo.sass */
.demo:before {
  content: "DEMO";
  background: #555;
  color: #fff;
  display: inline-block;
  padding: 8px;
  margin-bottom: 8px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 5, ../../src/sass/views/_post.sass */
.post .content {
  padding: 8px;
}
/* line 7, ../../src/sass/views/_post.sass */
.post .content table {
  border: 1px #000 solid;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 12, ../../src/sass/views/_post.sass */
.post .content table tr:hover {
  background: #ddd;
}
/* line 18, ../../src/sass/views/_post.sass */
.post .content table td {
  border: 1px #000 solid;
  font-size: 1em;
  line-height: 2em;
  padding: 0px 8px;
}
/* line 20, ../../src/sass/views/_post.sass */
.post .content table th {
  border: 1px #000 solid;
  font-size: 1em;
  line-height: 2em;
  padding: 0px 8px;
  font-weight: bold;
  background: #ddd;
}

/* line 6, ../../src/sass/views/_posts.sass */
.posts .post-list {
  padding: 0px 8px 8px 8px;
}
/* line 9, ../../src/sass/views/_posts.sass */
.posts .post-list .pl-title a {
  color: #000;
}
/* line 11, ../../src/sass/views/_posts.sass */
.posts .post-list .pl-row {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  display: table;
  width: 100%;
}
/* line 16, ../../src/sass/views/_posts.sass */
.posts .post-list .pl-row:hover {
  background: #ddd;
}
/* line 18, ../../src/sass/views/_posts.sass */
.posts .post-list .pl-cell {
  display: table-cell;
  vertical-align: middle;
  font-size: 1em;
  line-height: 2em;
}
/* line 22, ../../src/sass/views/_posts.sass */
.posts .post-list .pl-time {
  text-align: right;
  width: 240px;
}
/* line 25, ../../src/sass/views/_posts.sass */
.posts .post-list .pl-tcs {
  text-align: right;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 36, ../../src/sass/views/_posts.sass */
  .posts .post-list .pl-row {
    display: block;
  }
  /* line 38, ../../src/sass/views/_posts.sass */
  .posts .post-list .pl-cell {
    display: block;
  }
  /* line 40, ../../src/sass/views/_posts.sass */
  .posts .post-list .pl-title {
    margin: 5px 0px;
    font-size: 24px;
    line-height: 1.6em;
  }
  /* line 44, ../../src/sass/views/_posts.sass */
  .posts .post-list .pl-title:before {
    content: "-";
    background: #000;
    color: #000;
    display: inline-block;
    width: 24px;
    line-height: 24px;
    margin: 0px 10px;
    text-align: center;
    font-family: DFKai-sb, Time New Roman, serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  /* line 46, ../../src/sass/views/_posts.sass */
  .posts .post-list .pl-time {
    width: auto;
    text-align: left;
    border-left: 3px solid #999;
    margin-left: 20px;
    padding-left: 12px;
  }
  /* line 49, ../../src/sass/views/_posts.sass */
  .posts .post-list .pl-tcs {
    padding: 5px 0px;
    text-align: left;
    border-left: 3px solid #999;
    margin-left: 20px;
    padding-left: 12px;
  }
}
/* line 2, ../../src/sass/views/_tags.sass */
.tags .tag-list {
  padding: 5px;
}

/* line 2, ../../src/sass/views/_categories.sass */
.categories .category-list {
  padding: 5px;
}

/* line 2, ../../src/sass/views/_about.sass */
.about .content {
  padding: 8px;
}

/* line 3, ../../src/sass/views/_home.sass */
.home {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 8, ../../src/sass/views/_home.sass */
.home .title-area {
  display: table-cell;
  vertical-align: middle;
  color: #808080;
  text-align: center;
}
/* line 13, ../../src/sass/views/_home.sass */
.home .title-area .ta-title {
  display: inline-block;
  font-size: 2em;
  padding: 8px;
  border-bottom: 2px solid;
}
/* line 18, ../../src/sass/views/_home.sass */
.home .title-area .ta-sub-title {
  padding: 8px;
  text-align: center;
  font-size: 1.3em;
}
/* line 22, ../../src/sass/views/_home.sass */
.home .title-area .ta-mobile {
  display: none;
}
/* line 24, ../../src/sass/views/_home.sass */
.home .title-area .ta-btns {
  text-align: center;
}
/* line 26, ../../src/sass/views/_home.sass */
.home .title-area .ta-btns .ta-btn {
  display: inline-block;
  cursor: pointer;
}
/* line 30, ../../src/sass/views/_home.sass */
.home .title-area .ta-btns .ta-btn-menu {
  padding: 20px 6px;
}
/* line 32, ../../src/sass/views/_home.sass */
.home .title-area .ta-btns .ta-btn-menu .ta-icon {
  height: 72px;
  width: 72px;
  background: url("/images/header/menu_d_48x.svg");
  background-size: 100%;
}
/* line 30, ../../src/sass/views/_home.sass */
.home .title-area .ta-btns .ta-btn-search {
  padding: 20px 6px;
}
/* line 32, ../../src/sass/views/_home.sass */
.home .title-area .ta-btns .ta-btn-search .ta-icon {
  height: 72px;
  width: 72px;
  background: url("/images/header/search_d_48x.svg");
  background-size: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 40, ../../src/sass/views/_home.sass */
  .home .title-area .ta-title {
    display: none;
  }
  /* line 42, ../../src/sass/views/_home.sass */
  .home .title-area .ta-sub-title {
    display: none;
  }
  /* line 44, ../../src/sass/views/_home.sass */
  .home .title-area .ta-mobile {
    display: inline-block;
    border: 10px solid;
    padding: 24px 0px;
  }
  /* line 48, ../../src/sass/views/_home.sass */
  .home .title-area .ta-mobile .ta-title {
    display: block;
    font-size: 5em;
    width: 250px;
    border-bottom: none;
  }
  /* line 53, ../../src/sass/views/_home.sass */
  .home .title-area .ta-mobile .ta-sub-title {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.3em;
    border-top: 2px solid;
  }
  /* line 58, ../../src/sass/views/_home.sass */
  .home .title-area .ta-btns {
    display: none;
  }
}
/* line 4, ../../src/sass/views/_error.sass */
.error {
  text-align: center;
  padding-top: 200px;
  color: #808080;
}
/* line 8, ../../src/sass/views/_error.sass */
.error .error-number {
  display: inline-block;
  border: 5px solid;
  padding: 8px;
  font-size: 32px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
/* line 14, ../../src/sass/views/_error.sass */
.error .error-title {
  display: inline-block;
  padding-top: 20px;
}

/* line 7, ../../src/sass/theme-color/_default.sass */
.theme-color-default .header {
  background: #111;
}
/* line 9, ../../src/sass/theme-color/_default.sass */
.theme-color-default .menu {
  background: #ddd;
  border-color: #aaa;
}
/* line 12, ../../src/sass/theme-color/_default.sass */
.theme-color-default .menu .mu-btn {
  color: #000;
}
/* line 15, ../../src/sass/theme-color/_default.sass */
.theme-color-default .menu .mu-btn-paper {
  color: #aaa;
}
/* line 17, ../../src/sass/theme-color/_default.sass */
.theme-color-default .menu .mu-btn-paper:hover, .theme-color-default .menu .mu-btn-paper.active {
  color: #000;
}
/* line 15, ../../src/sass/theme-color/_default.sass */
.theme-color-default .menu .mu-btn-category {
  color: #aaa;
}
/* line 17, ../../src/sass/theme-color/_default.sass */
.theme-color-default .menu .mu-btn-category:hover, .theme-color-default .menu .mu-btn-category.active {
  color: #000;
}
/* line 15, ../../src/sass/theme-color/_default.sass */
.theme-color-default .menu .mu-btn-tag {
  color: #aaa;
}
/* line 17, ../../src/sass/theme-color/_default.sass */
.theme-color-default .menu .mu-btn-tag:hover, .theme-color-default .menu .mu-btn-tag.active {
  color: #000;
}
/* line 15, ../../src/sass/theme-color/_default.sass */
.theme-color-default .menu .mu-btn-work {
  color: #aaa;
}
/* line 17, ../../src/sass/theme-color/_default.sass */
.theme-color-default .menu .mu-btn-work:hover, .theme-color-default .menu .mu-btn-work.active {
  color: #000;
}
/* line 15, ../../src/sass/theme-color/_default.sass */
.theme-color-default .menu .mu-btn-wizard {
  color: #aaa;
}
/* line 17, ../../src/sass/theme-color/_default.sass */
.theme-color-default .menu .mu-btn-wizard:hover, .theme-color-default .menu .mu-btn-wizard.active {
  color: #000;
}
